.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search_button{
  width: 100px;
  height: 40px;
  background-color:indigo;
  margin-left: 30px;
  font-size: 19px;
  border-radius: 5px;
  color: white;
}
.search_button:hover{
  background-color:gold;
}
.input_field{
  width: 400px;
  height: 30px;
  border: 2px solid black;
}
.table_content{
  margin-top: 40px;
}
.loadmore{
  width: 120px;
  height: 40px;
  background-color:indigo;
  margin-top: 30px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
}